* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

input, select, textarea {
    background-color: #fff;
    color: #000;
}

input::placeholder, textarea::placeholder {
    color: #777;
}

input, textarea {
    border: 1px solid #ccc;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    background-color: #fff;
    color: #000;
}


button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

a {
    all: unset;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }