.orderCallButton {
    padding: 10px 15px;
    background-color: #F0DC20;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.orderCallButton:hover {
    background-color: #f0db20d0;
}
